Library/
Electronics/CADs/
CAD/Imported/
Documentação/Fotos/
Documentação/Teste Vibração/
src/main_Cmake/
*.csv
*.pdsbak
*.err
*.LOG
*.RGN
*.pdsprj
*.workspace
*.mp4
*.pek
*.cfa
*.prproj
*.wav
*.aac
*.gif
*.psd
*.avi
*.pdf
