Atas/
Library/
Electronics/CADs/
CAD/Imported/
CAD/Arquivos Renderizações/
Docs/Fotos/
Docs/Erro/
Docs/JAI/
Docs/Vídeos/
Docs/Portal de Projetos/
Docs/Relatórios de Progresso/
Docs/Atas/
Docs/TCC/
Docs/Teste Vibração/
src/main_Cmake/
*.csv
*.pdsbak
*.err
*.LOG
*.RGN
*.pdsprj
*.workspace
*.mp4
*.pek
*.cfa
*.prproj
*.wav
*.aac
*.gif
*.psd
*.avi
*.psd
*.ai
*.JPG